body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-brand img {
    height: 40px;
}
.navbar-nav .nav-link {
    color: #fff;
    margin-right: 1rem;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.2s ease;
}
.navbar-nav .nav-link:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
.hero-section {
    background: url('https://asfbelgium.org/storage/files/01-ru00e9forcement-des-compu00e9tences-ulm-comoe-ulm-comoe-mission-2000x1000.jpg?token=79d7526722730fd40c17786b6ab9701a') no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 2rem;
    position: relative;
    z-index: 0;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.25rem;
    margin: 1rem 0;
}
.hero-section .btn {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}